body
{ background-image: url(../multimedia/picture/assets/ducatibg.png) ; width: 100%; background-repeat: no-repeat; }

.text
{ width: 700px; float: right; margin: 100px; display: flex ; flex-direction: column; align-items: center;}

.text p
{font-size: 1.2em; font-weight: 500; letter-spacing: 1px; }

.text  .moto 
{ margin-top: 100px;  height: 60px; width: 380px; transform: skew(20deg);text-align: center; background-color: blue;; padding: 10px; border-radius: 20px; color: #fff;}

.text .moto img
{ width: 80px;  }

.text a img 
{ width: 40px; }

.text a 
{ width: 100px; height: 50px; margin-top: 50px;  font-size: 20px; font-weight: 500; outline: none; background-color: #e5322e; color: #fff; width: 150px; cursor: pointer;}

.text a:hover
{ color: #fff; background-color: #e5322e ; opacity: 0.8; transition: 0.5s; text-transform: uppercase;}

@media only screen and (max-width: 576px) {
    body
    { background-position:  -500px 0; }

    .text
    { width: 100%; margin-top: 50px; height: 100vh; position: fixed; float:inherit; margin-left: auto; padding:10px 50px ;}

    .text p
    { text-align: center; } 

    #intro
    { display: none; }
}