.selengkapnya
{overflow-x: hidden;  display: flex; flex-direction: row-reverse;}

.carousel-control-prev
{ height: 40px; width: 40px; margin-top: 25%; margin-left: 25px;background-color: rgba(0, 0, 0, 0.406);}

.carousel-control-next
{ height: 40px; width: 40px; margin-top: 25%; margin-right: 25px;background-color: rgba(0, 0, 0, 0.406);}

.carousel
{ width: 560px; margin-top: 80px; }

button
{ margin-top: 10px; margin-bottom: 10px;}

@media only screen and (max-width: 576px) {
    .carousel-control-prev
    { height: 40px; width: 40px;  background-color: rgba(0, 0, 0, 0.406); align-items: center;}

    .carousel-control-next
    { height: 40px; width: 40px;  margin-right: 25px;background-color: rgba(0, 0, 0, 0.406);}
    .carousel
    { width: 560px; margin-top: 50px; }

    .selengkapnya
    { font-size: 12px; display: flex; flex-direction: column ; }

    .spek th
    { width: 20px; }
    .spek a 
    { margin-bottom: 20px; }

    .carousel
    { width: 100%; }

    iframe
    { width: 100%; height: 200px; }

    .slide-motor .carousel-item img 
    { width: 100%; max-width: 100%; }
}