.selengkapnya
{overflow-x: hidden;  }

button
{ margin-top: 10px; margin-bottom: 10px;}

@media only screen and (max-width: 768px) {
    .selengkapnya
    { font-size: 12px; display: flex; flex-direction: column ; }

    .spek th
    { width: 20px; }

    iframe
    { width: 100%; }

    .slide-motor .carousel-item img 
    { width: 100%; }
}