.selengkapnya
{overflow-x: hidden;  display: flex; flex-direction: row-reverse;}

.carousel-control-prev
{ height: 40px; width: 40px; margin-top: 25%; margin-left: 25px;background-color: rgba(0, 0, 0, 0.406);}

.carousel-control-next
{ height: 40px; width: 40px; margin-top: 25%; margin-right: 25px;background-color: rgba(0, 0, 0, 0.406);}
.carousel
{ width: 560px; }

button
{ margin-top: 10px; margin-bottom: 10px;}

@media only screen and (max-width: 768px) {
    .carousel-control-prev
    { height: 40px; width: 40px; margin-top: 140px; margin-left: 25px;background-color: rgba(0, 0, 0, 0.406);}

    .carousel-control-next
    { height: 40px; width: 40px; margin-top: 140px; margin-right: 25px;background-color: rgba(0, 0, 0, 0.406);}
    .carousel
    { width: 560px; }

    .selengkapnya
    { font-size: 12px; display: flex; flex-direction: column ; }

    .spek th
    { width: 20px; }

    .carousel
    { width: 100%; }

    iframe
    { width: 100%; }

    .slide-motor .carousel-item img 
    { width: 100%; }
}